*.d
*.o

dep
obj

ft_containers_terminator
ft_containers-unit-test
ft_containers_test

src/main_*.cpp
out*
a.out*

a.out
ft_containers
ft_map
ft_vector
ft_set
ft_stack
std_map
std_vector
std_stack
std_set